[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A scaffold for developers to get started writing node applications
[access "refs/*"]
	owner = group user/Nurt (Natash25)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nurt (Natash25)
	label-Verified = -1..+1 group user/Nurt (Natash25)
	push = group user/Nurt (Natash25)
	read = group user/Nurt (Natash25)
	rebase = group user/Nurt (Natash25)
	removeReviewer = group user/Nurt (Natash25)
	submit = group user/Nurt (Natash25)
[access "refs/heads/*"]
	create = group user/Nurt (Natash25)
	push = +force group user/Nurt (Natash25)
	pushMerge = group user/Nurt (Natash25)
	read = group user/Nurt (Natash25)
[access "refs/tags/*"]
	push = group user/Nurt (Natash25)
	push = +force group user/Nurt (Natash25)
